@tailwind base;
@tailwind components;
@tailwind utilities;

/* map sizing */
.leaflet-container {
    height: 50vh;
    margin: auto;
}



div:has(> .leaflet-container) {
    padding: 40px;
    width: 100%;
    background-color: #3179ba;
}

.sc-jrAGKZ>div>div>article {
    min-width: 300px;
}

.sc-jrAGKZ>div>div>article>header>span {
    width: 100%;
    display: block;
}

.sc-jrAGKZ>div>div>article>header {
    display: flex;
    flex-direction: column;
}


@media (max-width: 1300px) {
    #trelloContainer>div>div>div>section {
        width: 100%;
        flex-direction: column;
        position: none;
        display: block;
    }

    #trelloContainer>div>div {
        flex-wrap: wrap;
    }

    .leaflet-container {
        height: 50vh;
        width: 100%;
    }
}

@media (max-width: 800px) {
    #homeContainer {
        display: block;
        background: #3179ba;
    }
}